<a href="https://colab.research.google.com/github/ghasemieh/Duplicate-Bug-Identification-System/blob/master/Phase_1_Load_data_and_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Phase-1: Load data and Data Preparation

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('https://zenodo.org/record/400614/files/apache.csv?download=1',sep=',')

In [94]:
df.head()

   id   product component  ... dup_list root_id disc_id
0   2   Log4j -    Layout  ...      NaN     NaN     NaN
1   3   Log4j -  Appender  ...      NaN     NaN     NaN
2  22  Apache h       All  ...      NaN     NaN     NaN
3  27   Log4j -    Layout  ...      NaN     NaN     NaN
4  29   Log4j -     Other  ...      NaN     NaN     NaN

[5 rows x 14 columns]

In [95]:
df.isnull().sum()

id                  0
product             0
component           0
reporter            0
bug_status          0
resolution          0
priority            0
bug_severity        0
version             0
short_desc         58
opendate            0
dup_list        41531
root_id         38016
disc_id         38016
dtype: int64

In [96]:
df2 = df[['id','short_desc','dup_list']]
df2.head()

   id                                         short_desc dup_list
0   2         Just testing the Boogzeela setup for log4j      NaN
1   3                                       file sharing      NaN
2  22         Need hooks for user-defined error handling      NaN
3  27  Error in the formatting of the (%F:%L) layout ...      NaN
4  29  Calling Category.error(Object, Throwable) thro...      NaN

Remove Blank Records

In [97]:
blanks = []

for i in df2.iterrows():
    if type(i[1][1])==str:
        if i[1][1].isspace():
            blanks.append(i[1][0])
    else:
        blanks.append(i[0])
len(blanks)

58

In [98]:
df2.drop(blanks,inplace=True)
df2.isnull().sum()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

id                0
short_desc        0
dup_list      41474
dtype: int64